* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
}

body {
  padding: 0;
  margin: 0;
}

/***** header *****/
.home-page {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  margin: 15px 0 5px 0;
  text-align: center;
}

/***** main *****/

form {
  display: flex;
  justify-content: center;
  gap: 17px;
  background-color: #EAEAEA;
  padding: 15px 0 15px 0;
}

input {
  border: none;
  background-color: #EAEAEA;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  width: 119px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

.description {
  text-align: center;
  background-color: #F6F6F6;
  padding-top: 39px;
  padding-bottom: 57px;
}

.description h2, .description p {
  margin: auto;
}

.description h2 {
  width: 70%;
  font-size: 24px;
  margin-bottom: 18px;
}

.description p {
  width: 84%;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 27px;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 13px 18.75px;
  margin: auto;
  width: 180.49px;
  height: 24px;
  font-size: 16px;
  background: linear-gradient(193.33deg, var(--primary-color) -11.44%, var(--secondary-color) 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.filter {
  padding-top: 48px;
  padding-bottom: 68px;
}

.filter h2 {
  margin: 0 0 26px 20px;
  font-size: 24px;
}

.filter ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 32px;
}

.filter li {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 290.49px;
  height: 72.38px;
  padding-left: 32px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.filter i {
  font-size: 19px;
  color: #7E7E7E;
}

.filter .fa-li {
  left: -15px;
  color: var(--primary-color);
}

.filter .fa-store {
  color: var(--primary-color);
}

/***** footer *****/

/***** Media queries *****/
@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  
}